{% extends "base.html" %}

{% block content %}

<div class="card" style="width: 50%; margin: auto;">
  <img src="https://pgw.udn.com.tw/gw/photo.php?u=https://uc.udn.com.tw/photo/2018/11/28/99/5591297.png&x=0&y=0&sw=0&sh=0&exp=3600" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">您已登出！</h5>
      <h6 class="card-subtitle mb-2 text-muted">您隨時可以再次登入</h6>
      <p class="card-text">希望您的離開是暫時的，我們期待您再度到來！</p>
      <a href="{% url 'login' %}" class="card-link">請按此處重新登入</a>
      <a href="/../../upl" class="card-link">返回上傳頁面</a>
    </div>
  </div>

{% endblock content %}