{% extends "base.html" %}
{% block content %}
    <body>
        <h1>上傳教學計畫</h1>
        {% if user.is_authenticated %}
            {{ user.username }} <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            
            <input type="submit" value="上傳">
        </form>
    </body>
{% endblock content %}

